{% extends 'base.html' %}

<!-- Title Start -->
{% block title %}

{{ post.title_tag }}

{% endblock title %}
<!-- Title End -->

{% block content %}

<h2>{{ post.title }}</h2>
<small>
    {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}

    {% if user.is_authenticated %}

    - <a href="{% url 'blog:update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'blog:delete_post' post.pk %}">(Delete)</a>

    {% endif %}

</small>
<hr>
{{ post.body }}

<br><br>

<a href="{% url 'blog:main_blog' %}" class="btn btn-secondary">Back</a>

{% endblock content %}