{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Flicker
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar Start -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home:home_view' %}" id="brand">Flicker</a>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:main_blog' %}">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:add_post' %}">Add Post</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>

                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:home_view' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:main_blog' %}">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="ss" href="{% url 'login' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="ss" href="{% url 'members:register' %}">Register</a>
                    </li>

                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    <!-- Navbar End -->

    <br>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>


    <!-- Footer Start
    <footer style="background-color: aliceblue;">
        <div class="container text-center">
            <p>Hello Everyone</p>
        </div>
    </footer>
    Footer End -->


    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>
</body>

</html>